body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: 'Montserrat', sans-serif !important;
}

.center-text {
  text-align: center;
}

.home-container {
  background-color: #092532;
  border-radius: 15px;
  margin: 10%;
  padding: 10%;
  color: white;
  display: flex;
  align-items: center;
}

.home-text {
  text-align: left;
  padding: 3%;
}

.home-text .p1 {
  margin: 5% 0 5% 0;
}

.home-text h1 {
  padding: 2% 0 2% 0;
}


.home-text span {
  font-weight: bold;
}

.home-image {
  padding: 3%;
}

.home-image img {
  border-radius: 15px;
}

.form-container {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.form-header {
  padding: 5%;
}

.image {
  width:400px;
  height: 400px;
}

.card-title {
  font-weight: bold;
  font-size: 16px;
  padding: 2% 0 0 0;
}

.card-subtitle {
  font-weight: bold;
  font-size: 12px;
  padding: 2% 0 2% 0;
}

.profile-header {
  padding: 2%;
}

.journal-title {
  background-color: #89c9b8;
  margin: 1%;
  border-radius: 15px;
  margin: 3% 0 0 0;
  padding: 1%;
}

.profile-welcome-button {
  margin: 0 0 0 1%;
}

.profile-header h1 {
  font-size: 25px;
  padding: 1%;
}

.profile-header h2 {
  text-align: center;
  font-size: 50px;
  padding: 3%;
}

.card-button {
  font-size: 12px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0 0 10% 0;
}

.profile-header span {
  color: #89c9b8;
}

